.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: large;
    flex: 1;
}

.outer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.header {
    font-weight: 600;
}

.ketentuan{
    flex: 1;
}

.ketentuan2 {
    flex: 1.25;
}

ol {
    list-style-type: decimal !important;
}

li {
    font-size: medium !important;
}



