.logo{
    margin-left: 65px;
    padding-top: 30px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cartIcon{
    margin-right: 100px;
    position: relative;
}

.arrowIcon{
    margin-left: 100px;
}

.cartCounter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border: solid 1px orange;
    color: orange;
    border-radius: 100%;
    margin-left: 1250px;
    top: -10px;
    right: -10px;
    position: absolute;
}