.header {
  font-size: 24px;
  font-weight: 600;
  margin-top: 60px;
}

.outerPesanan {
  display: flex;
  margin-top: 30px;
}

.nama-jumlah {  
  font-size: 24px;
  font-weight: 600;
}

.namaBarang {
  text-align: center;
}

.jumlahBarang {
  font-weight: 400;
  color: #84848D;
}

.harga {
  color: #ff8000;
  font-size: 24px;
  font-weight: 600;
  margin-left: 800px;
  margin-top: 60px;
  flex: 1;
}

.productImage {
  width: 180px;
  height: 180px;
  flex: 1;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.outerBarang {
  display: flex;
  align-items: center;
  margin-left: 30px;
  flex: 1;
}