.DaftarPesanan {
    margin-top: 56px;
    display: flex;
    justify-content: end;
    width: 100%;
       
}

.head {
    width: 70%;
    /* margin-right: 30px; */
   
}

.header1 {
    display: flex;
    justify-content: space-between;
    flex: 3;
    padding: 12px 10px ;
    font-weight: 600;   
    
}

.header1 p {
    flex: 3;
}

.tabel1 td {
    font-weight: 600;
    border-bottom: underline;
}

.underline {
    
    border-bottom: 1px solid #FFC34F;
    
}

.Subtotal {
    display: flex;
    justify-content: end;
padding-top: 50px;    

}

.Subtotal table tr td {
    padding-top: 30px;
}

.titikDua{
    padding: 0 10px;
}
/* .trTable{
    padding-top: 50px;
} */



.tabel2 td {
    font-weight: 600;
     /* border-spacing: -20px 0; */
}

.tabel2 {
   
    /* border-spacing: 50px 20px; */
    text-align: right;
    /* padding-top: 50px; */
}



.headeriistimewa {
   border-bottom:  5px solid #FFC34F;

}

.headeriistimewaAtas {
    border-bottom:  5px solid #FFC34F;
    padding-bottom: 126px;
 
 }

