.InvoiceJudul {
    display: flex;
    justify-content: space-between;
    /* padding: 30px 200px; */
}

.Furniskuy {
    background-color: #FFC34F;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 15px;
    height: fit-content;
}

.Invoice {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    /* margin-top: 30px; */
}






