@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@500;900&display=swap");

.productHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  margin-bottom: 24px;
}

.productListingTitle {
  font-weight: 900;
  font-size: 36px;
  color: #121216;
}

.kategoriItem {
  display: flex;
  gap: 30px;
  font-size: 17px;
  margin-bottom: 32px;
}

.kategoriItem div {
  cursor: pointer;
  user-select: none;
}

.statusSelected {
  font-weight: 700;
  font-size: 24px;
  color: #ff8000;
  border-bottom: 2px solid #ff8000;
}

.statusNotSelected {
  font-size: 24px;
  color: #717179;
}

.daftarProduk {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-x: hidden;
}
