.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.searchBar{
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    font-weight: 500;
    font-size: 18px;
}

.gambar *{
    padding: 0 15px;
    height: 20px;
}

.statusSelected{
    border-bottom: 2px solid #ff8000;
    /* padding: 0 10px; */
}

.statusNotSelected{
    border: none;
    color: rgba(165, 165, 168, 1); 
    /* padding: 0 10px; */
}

.searchBar div{
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    /* border: 1px solid black; */
}