.productHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.productListingTitle {
  font-weight: 900;
  font-size: 36px;
  color: #121216;
}

.kategoriItem {
  display: flex;
  gap: 30px;
  font-size: 17px;
  margin-bottom: 32px;
}

.kategoriItem div {
  cursor: pointer;
  user-select: none;
}

.statusSelected {
  font-weight: 700;
  font-size: 24px;
  color: #ff8000;
  border-bottom: 2px solid #ff8000;
}

.statusNotSelected {
  font-size: 24px;
  color: #717179;
}

/* use grid to display 4 item on phone to 1366 and 6 item for big screen */
.daftarProduk {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  flex-wrap: wrap;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  .daftarProduk {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1366px) {
  .daftarProduk {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 28px;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.paginationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
