.button-desc-rating{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px 100px;
    margin: 0 275px;
    border-radius: 5px;
}

.tombolSelected{
    font-weight: 800;
    padding: 0 50px;
    color: #FFB56A;
    font-size: large;
    border-radius: 5px;
    border-style: hidden;
    background-color: #006FBA;
    cursor: pointer;
}

.tombolNotSelected{
    font-weight: 800;
    padding: 0 50px;
    color: #FFB56A;
    font-size: large;
    border-radius: 5px;
    border-style: hidden;
    background-color: white;
    cursor: pointer;
}
