@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: #f6f6f6;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

pre {
  font-weight: 400;
  font-size: 25px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
