.boxAlamat{
    display: flex;
    background-color: white;
    justify-content: start;
    align-items: center;
    border-radius: 12px;
    height: fit-content;
    border: solid 1px;
    margin: 30px 60px;
    padding: 20px 0;
}

.boxnama-noTelp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nama-noTelp{
    display: flex;
    gap: 30px;
}

.mapPin{
    color: #006FBA;
    padding: 0 30px;
}

.noTelp{
    font-size: 24px;
    font-weight: 400;
    color: #006FBA;
}

.nama{
    font-size: 24px;
    font-weight: 600;
}

.alamat{
    font-size: 24px;
    font-weight: 400;
    color: #838383;
}