.boxAlamat{
    display: flex;
    background-color: white;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    height: fit-content;
    border: solid 1px;
    margin: 0 300px;
    padding: 10px 0;
}

.boxnama-noTelp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nama-noTelp{
    display: flex;
    gap: 30px;
}

.mapPin{
    color: #006FBA;
    padding: 0 30px;
}

.noTelp{
    color: #838383;
}
