.boxTotal-Button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  margin-top: 60px;
}

.totalHarga {
  font-size: 32px;
  font-weight: 700;
  color: #ff8000;
}

.buttonBuatPesanan {
  background-color: #ff8000 !important;
  color: white;
  border-radius: 12px;
  padding: 15px 90px;
  margin-right: 60px;
}

.total{
  font-size: 32px;
  font-weight: 700;
}

.boxKiri{
  display: flex;
  gap: 60px;
}