.boxVoucher{
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-right: 80px;
    gap: 15px;
}

.kodeVoucher{
    background-color: #DEDEDE;
    border-radius: 12px;
    font-weight: 600;
    padding: 15px 40px;
}

.notifVoucher{
    font-size: small;
    color: #006FBA;
    margin-bottom: 30px;
}

.buttonVoucher{
    border-radius: 12px;
    background-color: #84848D;
    padding: 15px 40px;
    color: white;
}

.tulisan{
    font-weight: 600;
}

.boxButton{
    margin-right: -20px;
}