.boxVoucher{
    display: flex;
    gap: 10px;
    margin: 10px 325px;
    justify-content: end;
}

.kodeVoucher{
    background-color: #E6E6E6;
    border: 0px;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px 10px;
    width: 210px;
}

.notifVoucher{
    font-size: small;
    color: #006FBA;
    margin-left: 5px;
    margin-bottom: 30px;
}

.buttonVoucher{
    border: solid 0.5px;
    border-radius: 5px;
    background-color: #B7B7B7;
    box-shadow: 0 1px 2px;
    padding: 10px 10px;
}

.tulisan{
    font-weight: 600;
}

.boxButton{
    margin-right: -20px;
}